<app-esheaderus></app-esheaderus>
<section id="about" class="about">
  <div class="container pl-4">
    <div class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center">
      <div class="section-title">
        <h3>Como usar Health World</h3>
      </div>
    </div>
        <div class="row">
          <div class="col-xl-5 col-lg-6 justify-content-center align-items-stretch position-relative">
            <img class="me-auto" src="../../../../assets/TELEOPERADOR.jpg" width="1300">
        </div>
        </div>
        <br>
      <p>Toda la informacion para usar nuestra pagina en un PDF</p>

        <span type="button" class="appointment-btn scrollto">
          <a class="text-decoration-none" href ="https://drive.google.com/file/d/1POO_WP13zx5UWQzwgaDbvgEujxWpFqdH/view?usp=sharing" target="_blank" style="color:white">Abrir PDF</a>
        </span>
  </div>
</section>

<app-footer></app-footer>
