<footer>
  <!-- <script id="CookieDeclaration" src="https://consent.cookiebot.com/f7ec0907-d9c7-4e7c-b690-b663aea1c6c6/cd.js" type="text/javascript" async></script> -->

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright 2021 <strong><span>Health World</span></strong>. All Rights Reserved
       Designed by <a href="https://kummonapps.github.io/Castellano.html">KummonApps</a>
      </div>
    </div>
  </div>
  </footer><!-- End Footer -->

