<app-esheader></app-esheader>
<section id="about" class="about">
    <div class="container">
          <div class="row">
              <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative">
                  <img class="me-auto" src="/assets/sobrenosotrospetit.jpg" width="400">
              </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Sobre Health World</h3>
            <p>El proyecto Healthworld se plantea como una herramienta que ofrece a los profesionales de la Salud
              para poder gestionar búsquedas de medicamentos con una tecnología innovadora dentro del
              sector. </p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title">Nuestra marca personal</h4>
              <p class="description">Gracias al desarrollo de una IA que facilitará realizar búsquedas con diferentes
                filtros para dar los mejores resultados, junto con una experiencia enriquecedora en la web
                hacen de Healthworld un buscador de medicamentos único.
                </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-home-heart"></i></div>
              <h4 class="title">Sobre nosotros</h4>
              <p class="description">Este proyecto se ajusta al espíritu y primordial requisito de la empresa y nuestro equipo de
                profesionales de desarrollar herramientas y aplicaciones para facilitar la vida a las personas.
                </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-capsule"></i></div>
              <h4 class="title">Nuestro proyecto de futuro en medicamentos</h4>
              <p class="description">Esta aplicación web puede llevarnos a desarrollar futuras aplicaciones
                y herramientas dentro de este sector para cubrir la gran demanda de atención y profesionalidad a través
                de la tecnología, que en el entorno actual de sociedad ha demostrado ser de gran ayuda.
                </p>
            </div>
          </div>
          </div>
    </div>
</section><!-- End About Section -->
<app-footer></app-footer>
