<div class="container">
    <div class="col-4 mt-4 login">
        <!--<form action="Eslogin.php" method="post">-->
        <form [formGroup]="loginForm" (ngSubmit)="loginUs()">
            <a [routerLink]="['../index']" routerLinkActive="active" class="nav-link scrollto">
                <img class="mb-4" src="/assets/logo_wh.jpg" width="200">
            </a>
            <h1 class="h3 mb-3 fw-normal textbluedark">Iniciar sesion</h1>

            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInput" name="floatingInput" placeholder="name@example.com" 
                [ngClass]="{ 'is-valid':  controlFormulario.email.touched && controlFormulario.email.valid,
                'is-invalid': controlFormulario.email.touched && controlFormulario.email.invalid}" />
                <div *ngIf=" controlFormulario.email.errors" class="invalid-feedback">
                    <div *ngIf="controlFormulario.email.errors.required">Correo requerido</div>
                    <div *ngIf="controlFormulario.email.errors.email">Falta @ </div>
                </div>
                <label for="floatingInput">Correo</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" formControlName="contrasenya" class="form-control" id="floatingPassword" name="floatingPassword" placeholder="Password"
                 [ngClass]="{ 'is-valid':  controlFormulario.contrasenya.touched && controlFormulario.contrasenya.valid,
                  'is-invalid': controlFormulario.contrasenya.touched && controlFormulario.contrasenya.invalid}" />
                <div *ngIf=" controlFormulario.contrasenya.errors" class="invalid-feedback">
                    <div *ngIf="controlFormulario.contrasenya.errors.required">Inserte la contraseña</div>
                    <div *ngIf="controlFormulario.contrasenya.errors.minlength">Mínimo requerido 8 caracteres</div>
                    <div *ngIf="controlFormulario.contrasenya.errors.maxlength">Máximo 20 caracteres</div>
                </div>
                <label for="floatingPassword">Contraseña</label>
            </div>

            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Iniciar Sesion">
            <br> <br>

            <button class="w-100 btn btn-outline-success" [routerLink]="'/index'">Volver a inicio</button>
        </form>
    </div>
</div>