<app-inheader></app-inheader>
<section id="about" class="about">
  <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative">
                <img class="me-auto" src="/assets/sobrenosotrospetit.jpg" width="400">
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3> About Health World </h3>
            <p> The Healthworld project is proposed as a tool that offers Health professionals
              to be able to manage drug searches with innovative technology within the
              sector. </p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title">Our personal brand</h4>
              <p class="description"> Thanks to the development of an AI that will facilitate searches with different
                filters to give the best results, along with an enriching experience on the web
                make Healthworld a unique drug finder.
              </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-home-heart"></i></div>
              <h4 class="title">About us</h4>
              <p class="description"> This project conforms to the spirit and primary requirement of the company and our
                team of
                professionals to develop tools and applications to make life easier for people.
              </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-capsule"></i></div>
              <h4 class="title">Our future project in medicines</h4>
              <p class="description"> This web application can lead us to develop future applications
                and tools within this sector to meet the great demand for attention and professionalism through
                technology, which in today's society environment has proven to be of great help.
              </p>
            </div>
        </div>
        </div>
  </div>
</section><!-- End About Section -->
<app-footer></app-footer>
